
.navbar-brand img {
    max-height: 45px;
}

.btn-secondary{
    color: #fff !important; 
}

.btn-outline-secondary:hover{
    color: #fff !important; 
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }


.tabla-bien-chica {
    font-size: smaller !important;  
}
.tabla-pasturas {
    min-width: 900px; 
}
.texto-bien-chico {
    font-size: .9em !important;  
}